.Startscreen {
    background-color: #262223;
    width:100%;
    height:100%;
    position: fixed;
    font-family: "HollywoodHills";
}

p {
    color: #ec4d37;
    font-family: "basketball";
    letter-spacing: 2px;
    margin: 2px;
}

p.formbutton {
    color: #262223;
    font-size: 25px;
    font-family: "basketball";
    letter-spacing: 2px;
}

h1.title {
    text-align: center;
    color: #ec4d37;
    font-size: 102px;
}

.Forms {
    margin: auto;
    width: 300px;
    overflow: hidden;
    font-family: "basketball";
}

.Login {
    float: left;
    width: 100%;
}

.btn-custom {
    color: #ec4d37;
    background-color: #ec4d37;
    border-color: #262223;
}

.Register {
    margin-top: 50px;
    float: left;
    width: 100%;
}
